{% if site.experiences %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Experiences</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				{{site.experiences}}
				</p>
				<iframe src="https://www.youtube.com/embed/e-c959ruUAg"
                        		width="560" 
                        		height="315"  
                        		frameborder="0" 
                        		allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        		allowfullscreen>
                		</iframe>
			</div>
			<br>
		</div>
	</div>
{% endif %}
