{% if site.youtubePlayer %}
        <div id="coursesBubble" class="rounded_panel txt_lightgrey">
	        <div class="top-rounded-panel grey-bg">
		        <h1>Coursera</h1>
                </div>        
                <div class="embed-youtube">
                <iframe src="https://www.youtube.com/embed/e-c959ruUAg"
                        width="560" 
                        height="315"  
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>

                .embed-youtube {
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 25px;
                height: 0;
                }

                .embed-youtube iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  }
               </div>
        </div>
{% endif %}
